*{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

/* Container */
.container{
    display: flex;
    justify-content: center;
    align-self: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.form h2{
    font-family: sans-serif;
    font-size: 2rem;
}