*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

/* Container */
.container{
    display: flex;
    max-width: 200px;
    min-height: 200px;    
    border-width: 1px;
    background-color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form h2{
    font-family: sans-serif;
    font-size: 2rem;
}

.box{
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

#submit{
    border-radius: 15px;
    background-color: mediumslateblue;
    border: none;
    padding: 10px 50px 10px 50px;
}




