/* Reset browser settings. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.c1{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Container */
.container{
    display: flex;

    min-width: 400px;
    width: 400px;
    min-height: 225px; 
    height: 225px;

    flex-direction: column;
    justify-content: space-evenly;  
    
    align-items: center;
       
    border-radius: 5px;

    /*shift rt/lt, shift up/dn, gradient?, shadow width*/
    box-shadow: 0px 0px 20px 5px grey;
}

.form{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.container h3{
    font-family: sans-serif;
    font-size: 2rem;
}

.box{
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

#submit{
    border-radius: 25px;
    background-color: mediumslateblue;
    border: none;
    padding: 10px 50px 10px 50px;
    -webkit-text-fill-color: azure;
}





